<!-- moviesearch/templates/home.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Big Kino - Homepage</title>
</head>
<body>
    <h1>Welcome to Big Kino!</h1>
    <p>Use the navigation links to explore the website:</p>
    <ul>
        <li><a href="{% url 'moviesearch:search_movies' %}">Search Movies</a></li>
        <li><a href="{% url 'watchlists:watchlist_list' %}">My Watchlists</a></li>
        <li><a href="{% url 'profiles:profile' %}">My Profile</a></li>
    </ul>
    <ul>
        <li><a href="{% url 'accounts:register' %}">Register</a></li>
        <li><a href="{% url 'accounts:login' %}">Login</a></li>
    </ul>

</body>
</html>
